ul {
    margin-top: -8px;
}

h2 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1.8rem;

    margin-bottom: -8px;
}

.bigger-text {
    font-weight: bold;
}

p {
    line-height: 24px;
} 

main {
    padding-bottom: 48px;
}