#gallery-bg {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.75);

    top: 0px;
    left: 0px;
}


#gallery-img {
    position: fixed;
    z-index: 2;

    width: 80%;
    max-height: 60vh;
    object-fit: contain;

    left: 10%;
    top: 10vh;
}

#gallery-btns {
    position: fixed;
    z-index: 2;
    width: 50%;

    bottom: 20vh;
    left: 25%;

    display: flex;
    justify-content: space-between;
}

.gallery-btn {
    width: 5%;
    min-width: 32px;

    background-color: transparent;
    border: none;
}

.gallery-btn:hover {
    cursor: pointer;
}

.gallery-btn img {
    width: 100%;
}

#gallery-label {
    font-weight: 600;
    font-size: 1.2rem;
}
