#lightbox-bg {
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    top: 0px;
    left: 0px;
}

#light-img {
    position: fixed;
    z-index: 2;

    width: 80%;
    max-height: 80vh;
    object-fit: contain;

    top: 10vh;
    left: 10%;

    border-radius: 8px;
}

#close-btn {
    position: fixed;
    z-index: 2;

    top: 32px;
    right: 32px;

    background-color: transparent;
    border: none;

    width: 5%;
    min-width: 32px;
}