/* Variables */
:root {
    --primary-font: Fustat;
    --dark-bg: #121212;
    --light-bg: #252525;
    --link-color: #A3DCFF;
    --link-hover: #FFA3E7; 
    /* --link-hover: #FFD9A3; */

    /* Spacing/Sizing Scaling */
    --space-scale: 8px;
    --content-max-width: 1600px;
}

/* Define Key/Global Things */
html {
    font-family: var(--primary-font);
    background-color: var(--dark-bg);
    color: white;

    margin: 0px;
}

body {
    margin: 0px;
}

main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    /* min/max */
    max-width: var(--content-max-width);
}

.mobile-hide {
    display: none;
}

.mobile-show {
    display: initial;
}

/* Nav */
header * {
    z-index: 99; /*CHECK*/
}

header {
    position: relative;
    z-index: 2; /*CHECK*/

    display: flex;
    align-items: baseline;
    gap: calc(4 * var(--space-scale));

    width: 90vw;
    background-color: var(--light-bg);
    border-radius: 0px 0px calc(1 * var(--space-scale)) calc(1 * var(--space-scale));

    margin-top: 0px;
    margin-bottom: calc(4 * var(--space-scale));

    /* Center the nav */
    margin-left: auto;
    margin-right: auto;

    /* Put the header above the hamburger menu */
    z-index: 999999;
}

nav {
    display: flex;
    /*flex-wrap: wrap;*/
    /*align-items: right;*/
    align-items: center;
    justify-self: center;
    justify-content: center;

    width: 90vw;

    gap: calc(2 * var(--space-scale));

    padding: calc(1 * var(--space-scale)) calc(3 * var(--space-scale));
}

.nav-name {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;

    /*margin-left: calc(3 * var(--space-scale));*/
    padding-top: 0/*calc(4 * var(--space-scale));*/;

    display: inline;
}

.nav-name:hover {
    text-decoration: underline;
    color: white;
}

/*
#name-title {
    font-size: 0.6em;
    font-weight: bold;
}
*/

.nav-img {
    width: calc(4 * var(--space-scale));
    border-radius: 4px;

    margin-bottom: 0px;
}

.nav-text {
    color: white;
    font-weight: 300;
    font-size: 1.2em;
}

.nav-text-current {
    color: white;
    font-weight: 500;
    text-decoration: underline;
    font-size: 1.2em;
}

.nav-text:hover, .nav-text-current:hover {
    color: white;
    text-decoration: underline;
}

/* Hamburger Button */
#hamburger-btn {
    color: white;
    border: none;
    border-radius: 4px;
    background-image: url("../imgs/hamburger_bars.svg");
    background-size: calc(3 * var(--space-scale));
    background-repeat: no-repeat;
    background-position: center;

    width: calc(4 * var(--space-scale));
    height: calc(4 * var(--space-scale));
    margin-bottom: 6px;
}

#hamburger-img {
    display: none;
    width: calc(4 * var(--space-scale));
    height: calc(4 * var(--space-scale));

    justify-self: center;
    margin: 0px;
}

/* Hamburger Menu */

#hamburger-menu {
    /* Allows the menu to cover part of the page to not move everything */
    position: absolute;

    left: auto;
    right: auto;

    /* Hide the menu */
    top: -16vh;
    z-index: 1;

    width: 90vw;
    justify-self: center;
    background-color: var(--light-bg);
    border-radius: 0px 0px calc(1 * var(--space-scale)) calc(1 * var(--space-scale));

    padding-top: calc(2 * var(--space-scale));
    padding-bottom: calc(2 * var(--space-scale));

    /* Flexbox stuff */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1 * var(--space-scale));

    /* Transition stuff */
    transition: top 0.5s;
}

#hamburger-menu a{
    font-size: 1em;
}

/* Footer */
footer {
    background-color: var(--light-bg);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    padding: calc(3 * var(--space-scale)) 0px calc(1 * var(--space-scale)) 0px;

    margin-top: calc(6 * var(--space-scale));

    border-radius: calc(1 * var(--space-scale)) calc(1 * var(--space-scale)) 0px 0px;
}

#footer-contact {
    display: flex;
    gap: calc(0.5 * var(--space-scale));
    align-items: center;
}

#footer-contact p {
    margin-top: calc(1 * var(--space-scale));
}

footer p {
    margin-top: 0px;
    margin-left: calc(3 * var(--space-scale));
}

/* Text */
p, ol, ul {
    font-weight: 300;
    line-height: calc(3 * var(--space-scale));

    margin-top: calc(1 * var(--space-scale));
}

ul li {
    margin-bottom: calc(1 * var(--space-scale));
}

em {
    display: block;

    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;

    margin-top: calc(1 * var(--space-scale));
}

strong {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: var(--link-hover);
}

figcaption {
    font-weight: 300;
    font-style: italic;
    font-size: 1em;

    padding-bottom: calc(0.5 * var(--space-scale));
}

.italics {
    font-style: italic;
}

h1 {
    margin: 0px;
    font-size: 1.8em;
}

h2 {
    margin-top: calc(4 * var(--space-scale));
    margin-bottom: calc(1 * var(--space-scale));
}

h3 {
    font-size: 1.4em;
    margin-top: calc(0.5 * var(--space-scale));
    margin-bottom: calc(1 * var(--space-scale));
}

h4 {
    font-size: 1.3em;
    margin-bottom: calc(1 * var(--space-scale));
}

/* Cards and Images */
img {
    width: 90vw;
    border-radius: calc(1 * var(--space-scale));

    /* min/max */
    max-width: var(--content-max-width);

    margin-bottom: calc(1 * var(--space-scale));
}

video {
    max-width: 100%;
    border-radius: calc(1 * var(--space-scale));
}

.gallery-img {
    margin-bottom: calc(1 * var(--space-scale));
}

figure {
    margin: 0px;
}

.text-card {
    background-color: var(--light-bg);
    padding: calc(1 * var(--space-scale)) calc(2 * var(--space-scale));
    border-radius: calc(1 * var(--space-scale));

    margin-bottom: calc(2 * var(--space-scale));
}

.text-card h2 {
    margin: calc(2 * var(--space-scale)) 0px 0px 0px;
}

.img-card {
    background-color: var(--light-bg);
    padding: calc(1 * var(--space-scale)) calc(2 * var(--space-scale));
    border-radius: calc(1 * var(--space-scale));

    margin-bottom: calc(2 * var(--space-scale));
}

.img-card img {
    width: 100%;
    border-radius: calc(1 * var(--space-scale));
}

.user-model {
    max-width: 90vw;
}

.user-model h4 {
    margin-bottom: calc(1 * var(--space-scale));
}

#to-top {
    display: inline-block;
    margin-top: calc(4 * var(--space-scale));
}

/* SUMMARY CARDS - MOBILE / BASE */
.summary-label {
    font-weight: bold;
}

.summary-move-up {
    margin-top: calc(-1 * var(--space-scale));
}
/*
#to-top {
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: calc(3 * var(--space-scale));
    padding: calc(1 * var(--space-scale)) calc(2 * var(--space-scale));

    margin-top: calc(4 * var(--space-scale));
}

#to-top:hover {
    background-color: white;
    color: var(--dark-bg);
    font-weight: 500;
}
*/
/* Layout classes */
.flexbox-2x {
    display: block; /* Do NOTHING in mobile view */
    margin-bottom: calc(2.5 * var(--space-scale));
}

.flexbox-3x {
    display: block; /* Do NOTHING in mobile view */
    margin-bottom: calc(2.5 * var(--space-scale));
}

/* Media Queries */
@media screen and (min-width: 900px) {
    main {
        width: 75vw;
        max-width: var(--content-max-width);
    }

    .mobile-hide {
        display: initial; 
    }

    .mobile-show {
        display: none;
    }

    .big-img {
        width: 75vw;
    }

    img {
        width: 60vw;

        max-width: var(--content-max-width);
    }

    /* Nav */

    header {
        width: 75vw;
        max-width: var(--content-max-width);
        margin-bottom: calc(6 * var(--space-scale));
    }

    nav {
        display: flex;
        align-items: flex-start;
        justify-items: center;
        justify-content: center;
        gap: calc(2 * var(--space-scale));
        width: 75vw;

        justify-self: center;

        padding: calc(1 * var(--space-scale)) calc(4 * var(--space-scale));

        margin-top: calc(2 * var(--space-scale));
        margin-bottom: calc(1 * var(--space-scale));
    }

    nav a {
        margin-top: calc(1 * var(--space-scale));
    }

    .nav-name {
        font-size: 1.6em;
    }

    .nav-text, .nav-text-current {
        font-size: 1em;
    }

    .nav-img {
        width: calc(3 * var(--space-scale));
    }

    /* Hide the hamburger menu */
    #hamburger-menu {
        display: none;
    }

    /* Footer */
    footer {
        width: 75vw;
        max-width: var(--content-max-width);
        
        display: flex;
        gap: calc(0.5 * var(--space-scale));
    }

    #footer-contact {
        align-items: flex-start;
    }

    #footer-contact p {
        margin-top: 0px;
    }

    /* Text */

    p {
        max-width: 65vw;
    }

    h1 {
        font-size: 2.5em;
        margin-top: calc(1 * var(--space-scale));
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: calc(2 * var(--space-scale));
    }
    
    /* Layout classes */
    .flexbox-2x {
        display: flex;
        flex-wrap: wrap;
        gap: calc(2 * var(--space-scale));
    }

    .flexbox-2x div {
        width: 45%;
        max-width: 45%;
        margin-bottom: 0px;
    }

    .flexbox-3x {
        display: flex;
        flex-wrap: wrap;
        gap: calc(2 * var(--space-scale));
    }

    .flexbox-3x div, .flexbox-3x img {
        max-width: 29%;
        margin-bottom: 0px;
    }

    /* Allow images in cards to take up more space */
    .img-card img {
        max-width: 100%
    }

     .user-model {
        max-width: 35vw;
    }

    /* For images that are too big */
    .smaller-img {
        width: 40vw;
    }

    /* Summary Card */
    .flexbox-3x .summary-info {
        max-width: 100%;
    }
}